@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: darkblue;
  }

.tasklists {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
} 

.task {
  border: 1px black solid;
  margin: 10px;
}

.task­header {
  display: flex;
  flex-direction: column;
}